<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clothing -> Products</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/homepage"> Clothing </a>
        <a class="nav-link" href="/cartlist" id="carticon">
          <i class="fa fa-shopping-cart" style="font-size:24px;color:white"></i>
          <span class="text-white" id="cartitem"></span>
        </a>
        <!-- <button type="button" class="btn btn-dark btn-sm" id="cart-btn">
          <i class="fa fa-shopping-cart" style="font-size:24px;color:white"></i>
          <span class="text-white" id="cartitem"></span>
        </button>  -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0 mr-lg-2">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Type to Search..." id="nam" />
                </div>
              </form>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothes & Dresses
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/allclothings">All Clothings</a>
                <a class="dropdown-item" href="/mensclothing">Men's Clothing</a>
                <a class="dropdown-item" href="/womensclothing">Women's Clothing</a>
                <a class="dropdown-item" href="/childsclothing">Child's Clothing</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contact Us</a>
            </li>
            <% if(name==""){%>
            <li class="nav-item">
              <a class="nav-link" href="/loginpage">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registerpage">Register</a>
            </li>
            <% }else if(name!=""){%>
            <li class="nav-item">
              <a class="nav-link" href="#"><%=name %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3"><%= pagename %>
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/homepage">Home</a>
        </li>
        <li class="breadcrumb-item active"><%= pagename %></li>
      </ol>
      
      
      <div class="row">
      <% for(var i=0;i<productlist.length;i++){ %>
        <div class="col-lg-4 col-sm-6 portfolio-item" id="<%= productlist[i].pid %>">
          <input type="hidden" name="pid" value="<%= productlist[i].pid %>"/>
          <input type="hidden" name="pname" value="<%= productlist[i].pname %>"/>
          <input type="hidden" name="ptitle" value="<%= productlist[i].ptitle %>"/>
          <input type="hidden" name="pfor" value="<%= productlist[i].pfor %>"/>
          <input type="hidden" name="category" value="<%= productlist[i].category %>"/>
          <input type="hidden" name="size" value="<%= productlist[i].size %>"/>
          <input type="hidden" name="available" value="<%= productlist[i].available %>"/>
          <input type="hidden" name="price" value="<%= productlist[i].price %>"/>
          <input type="hidden" name="cost" value="<%= productlist[i].cost %>"/>
          <input type="hidden" name="currency" value="<%= productlist[i].currency %>"/>
          <input type="hidden" name="offer" value="<%= productlist[i].offer %>"/>
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="uploads/products/<%= productlist[i].pname %>/images/<%= productlist[i].pname %>0.jpg" onerror="this.src = 'http://placehold.it/700x400'" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/productdetails/<%= productlist[i].pid %>"><%= productlist[i].pname %></a>
              </h4>
              <p class="card-text">
                Product For : <%= productlist[i].pfor %></br>
                Product Category : <%= productlist[i].category %></br>
                Product Price : <%= productlist[i].price %> <%= productlist[i].currency %></br>
                Product Size : <%= productlist[i].size %>
              </p>
            </div>
            <% if(name!=""){%>
            <div class="card-footer">
              <button type="button" class="btn btn-success btn-sm mzs-atc">Add to Cart</button>
              <input type="number" name="quantity" min="1" max="<%= productlist[i].available %>" value="1">
            </div>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
      

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Clothing.com 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="addtocart.js"></script>
    <script src="search.js"></script>
  </body>

</html>
